commonfile="$autosub_path/tasks/implementation/VHDL/_common/ISE_tester_common.sh"

task_name="SC_CU"
userfiles="SC_CU_beh.vhdl"
entityfiles="SC_CU.vhdl"
extrafiles=""
#constraintfile="scripts/check.sh" # no constraintfile needed for this task

simulation_timeout="30s"
attach_wave_file="0" # "1" to attach, "0" to not attach