.logos {margin-left: 10px; margin-right padding: 10px;}
#container {height: 100px; width:100%; font-size: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}

ul.menu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline-block;
    border: 2px solid #FFFFFF;
}

li.menu {
    float: left;
    border-right: 2px solid #FFFFFF;
}

a:link.menu,a:visited.menu {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0033CC;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

a:hover.menu, menulink.a:active.menu {
    background-color: #0066FF;
}

