*.cfg
!task.cfg
!src/default.cfg
*.pdf
!doc/doc_pdf/*.pdf
*.log
*.db
*.swp
src/nr_mails_sent.png
src/nr_questions_received.png
src/nr_users.png
src/nr_mails_received.png
autosub.log
tasks.stdout
tasks.stderr
__pycache__
daemon.pid
autosub.pid
users
VELS_WEB/errors/
VELS_WEB/sessions/
VELS_WEB/static/images/nr_mails_received.png
VELS_WEB/static/images/nr_mails_sent.png
VELS_WEB/static/images/nr_questions_received.png
VELS_WEB/static/images/nr_users.png
tmp
!tasks/implementation/VHDL/README.txt
tasks/implementation/VHDL/*
*.pyc
