{{extend 'layout.html'}}
<h1>General Configuration</h1>
<table border="1">
{{=TR(TD("Course Name"),           TD(entries['course_name']))}}
{{=TR(TD("Course Mode"),           TD(entries['course_mode']))}}
{{=TR(TD("Tasks Directory"),       TD(entries['tasks_dir']))}}
{{=TR(TD("Auto Advance"),          TD(entries['auto_advance']))}}
{{=TR(TD("Allow Requests"),        TD(entries['allow_requests']))}}
{{=TR(TD("Registration Deadline"), TD(entries['registration_deadline']))}}
{{=TR(TD("Archive Directory"),     TD(entries['archive_dir']))}}
{{=TR(TD("Administrator E-Mail"),  TD(entries['admin_email']))}}
{{=TR(TD(A('Change mutable settings',_href=URL('edit')),_colspan=2))}}
</table>
