{{extend 'layout.html'}}
    <h1>Existing Users</h1>
    <table border="1">
       <thead>
          <tr>
             <th>Name</th>
             <th>Email</th>
             <th>Registered At</th>
             <th>Current Task</th>
             <th></th>
          </tr>
        </thead>
    {{for entry in entries:}}
       <tr>
           <td>{{=entry['Name']}}</td>
           <td>{{=entry['Email']}}</td>
           <td>{{=entry['RegisteredAt']}}</td>
           <td>{{=entry['CurrentTask']}}</td>
           <td></td>
       </tr>
    {{pass}}
      <tr>{{=form}}</tr>
    </table>
   {{=A('Back to Users overview', _href=URL('index'))}}</td>
