{{extend 'layout.html'}}
 <h1>Whitelisted Emails</h1>
    <table border="1">
       <thead>
          <tr>
             <th>Email</th>
             <th>Name</th>
             <th>Delete?</th>
          </tr>
        </thead>
    {{for entry in entries:}}
       <tr>
           <td>{{=entry['Email']}}</td>
           <td>{{=entry['Name']}}</td>
           <td>{{=BUTTON_TO(T('Delete'),\
		   URL('deleteEmail?UniqueId='+str(entry['UniqueId'])),
		   'Realy delete ' + entry['Email'] + ' from whitelist?')}}</td>
       </tr>
    {{pass}}
    </table>
   {{=A('Add Single Email', _href=URL('newEmail'))}}<br>
   {{=A('Mass Email Whitelisting', _href=URL('massEmail'))}}
