{{extend 'layout.html'}}
<h1>Special Messages</h1>
<b>This is the overview of different messages users can get on special events. To change them, edit the appropriate SpecialMessage file and restart your autosub daemon.</b></br></br>
<table border="1">
{{=TR(TD("WELCOME"),     TD(PRE(entries['WELCOME']))) }}
{{=TR(TD("USAGE"),       TD(PRE(entries['USAGE']))) }}
{{=TR(TD("QUESTION"),    TD(PRE(entries['QUESTION']))) }}
{{=TR(TD("INVALID"),     TD(PRE(entries['INVALID']))) }}
{{=TR(TD("CONGRATS"),    TD(PRE(entries['CONGRATS']))) }}
{{=TR(TD("REGOVER"),     TD(PRE(entries['REGOVER']))) }}
{{=TR(TD("NOTALLOWED"),  TD(PRE(entries['NOTALLOWED']))) }}
{{=TR(TD("CURLAST"),     TD(PRE(entries['CURLAST']))) }}
{{=TR(TD("DEADTASK"),    TD(PRE(entries['DEADTASK']))) }}
{{=TR(TD("TASKNOTSUBMITTABLE"),    TD(PRE(entries['TASKNOTSUBMITTABLE']))) }}
</table>
