#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# main packaging script based on dh7 syntax
%:
	dh $@ 

override_dh_link:
	dh_link /usr/share/pyshared/autosub/autosub_debian.sh /usr/bin/autosub \
	/usr/share/web2py/applications/VELS_WEB/daemon.sh /usr/bin/autosub-webinterface

