{{extend 'layout.html'}}
    <h1>Current Task Configuration</h1>
    <b>Configured tasks directory:</b> {{=tasks_dir}}
    </br>
    </br>
    <table border="1">
       <thead>
          <tr>
             <th>TaskNr</th>
             <th>Task Start</th>
             <th>Task Deadline</th>
             <th>Task Name</th>
             <th>Generator Executable</th>
             <th>Test Executable</th>
             <th title="File to be passed to a generalized tester. This contains common functions">Common File</th>
             <th>Score</th>
             <th>Task Operator</th>
             <th>Task Active</th>
             <th></th>
          </tr>
        </thead>
    {{for entry in entries:}}
        <tr>
        {{if entry['TaskNr'] == editTaskNr:}}
            {{=form}}
        </tr>
        {{else:}}
           <td>{{=entry['TaskNr']}} </td>
           <td>{{=entry['TaskStart']}} </td>
           <td>{{=entry['TaskDeadline']}} </td>
           <td>{{=entry['TaskName']}} </td>
           <td>{{=entry['GeneratorExecutable']}} </td>
           <td>{{=entry['TestExecutable']}} </td>
           <td>{{=entry['CommonFile']}} </td>
           <td>{{=entry['Score']}} </td>
           <td>{{=entry['TaskOperator']}} </td>
           <td>{{=entry['TaskActive']}} </td>
        </tr>
        {{pass}}
    {{pass}}
    </table>
    {{=A('Back to overview', _href=URL('index'))}}
    <script>
	/*jslint browser:true*/
	/*global jQuery, document*/
	jQuery('#TaskStart').datetimepicker({format:'Y-m-d H:i'});
	jQuery('#TaskEnd').datetimepicker({format:'Y-m-d H:i'});
    </script>
