{{extend 'layout.html'}}
    <h1>Current Task Configuration</h1>
    <b>Configured tasks directory:</b> {{=tasks_dir}} </br>
    <b>{{=num_found_tasks}}<b>
    </br>
    </br>
    <table border="1">
       <thead>
          <tr>
             <th>TaskNr</th>
             <th>Task Start</th>
             <th>Task Deadline</th>
             <th>Task Name</th>
             <th>Generator Executable</th>
			 <th>Language</th>
             <th>Test Executable</th>
             <th title="File to be passed to a generalized tester. This contains backend interface functions">Backend Interface File</th>
             <th>Score</th>
             <th>Task Operator</th>
             <th>Task Active?</th>
             <th>Edit?</th>
             <th>Delete?</th>
          </tr>
        </thead>
    {{for entry in entries:}}
       <tr>
           <td>{{=entry['TaskNr']}} </td>
           <td>{{=entry['TaskStart']}} </td>
           <td>{{=entry['TaskDeadline']}} </td>
           <td>{{=entry['TaskName']}} </td>
           <td>{{=entry['GeneratorExecutable']}} </td>
           <td>{{=entry['Language']}} </td>
           <td>{{=entry['TestExecutable']}} </td>
           <td>{{=entry['BackendInterfaceFile']}} </td>
           <td>{{=entry['Score']}} </td>
           <td>{{=entry['TaskOperator']}} </td>
           <td>{{=entry['TaskActive']}} </td>
           <td>{{=A('Edit', _href=URL('editTask?editTaskNr='+str(entry['TaskNr'])))}}</td>
           <td>{{=BUTTON_TO('Delete',\
		   URL('deleteTask?TaskNr='+str(entry['TaskNr'])),\
		   'Really delete task with TaskNr=' + str(entry['TaskNr']) + ' ? This ' + \
		   'will also delete statistics & entries that users finished this task ' + \
		   'successfully! Existing Task folders will be moved to folders deletedTasks.')}}</td>
       </tr>
    {{pass}}
    </table>
    {{=A('Add new Task', _href=URL('newTask'))}}
