<html>
    <head>
        <title>VELS Web Interface</title>
	{{
	response.files.insert(0,URL('static','js/TableSort.js'))
	response.files.insert(1,URL('static','css/menu_logo.css'))
	response.files.insert(3,URL('static','js/jquery.js'))
	response.files.insert(4,URL('static','js/jquery.datetimepicker.full.js'))
	response.files.insert(5,URL('static','css/jquery.datetimepicker.css'))
	response.files.insert(5,URL('static','css/pagestyle.css'))
        response.include_meta()
        response.include_files()
	}}
    </head>
<body>

<a href="{{=URL(c='default',f='index')}}"><div id="container">
    <div align="center">
       <div id="left" class="logos"><img src= "{{=URL('static','images/tu_logo.png')}}" height="100px"></div>
       <div id="middle" class="logos"><img height="100px" src= "{{=URL('static','images/VELS_logo.png')}}"></div>
       <div id="right" class="logos"><img height="100px" src= "{{=URL('static','images/ict_logo.png')}}"></div>
    </div>
</div></a>
     
    <hr>

{{if auth.user:}}
<div style="text-align:right;">
<ul class="menu">
        {{=auth.navbar()}}
</ul>
</div>

<div style="text-align:center;">
    <ul class="menu">
        <li class="menu"><a class="menu" href="{{=URL(c='default',f='index')}}">Start</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='users',f='index')}}">Users</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='task_configuration',f='index')}}">Tasks</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='whitelist',f='index')}}">Whitelist</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='general_config',f='index')}}">General Config</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='special_messages',f='index')}}">Special Messages</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='statistics',f='index')}}">Statistics</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='user_tasks',f='index')}}">User Tasks</a></li>
        <li class="menu"><a class="menu" href="{{=URL(c='vels_plugins',f='index')}}">Active Plugins</a></li>
        {{if auth.has_permission("manage users"):}}
        <li class="menu"><a class="menu" href="{{=URL(c='vels_web_usermanage',f='index')}}">VELS_WEB Users</a></li>
        {{pass}}
    </ul>
</div>
{{pass}}
    <div id="content">

        {{include}}

    </div>

    </body>    
</html>
